$standard-text: rgb(192, 192, 255);

$standard-font-size: 16px;

#form {
    section {
        border-style: dotted;
        border-width: 2px;
        border-color: rgb(16, 130, 223);
        padding-left: 5px;
        padding-right: 10px;
        height: 80px;
        background-color: rgb(113, 163, 255);
    }
     
}